h1 a {
    color: #FCA205;
    font-family: 'Lobster';
}

h2 a {
    color: green;
    font-family: 'Lobster';
}

body {
    padding-left: 15px;
}

.page-header {
    background-color: yellow;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.post {
    background-color: #ff9400;
    margin-bottom: 70px;
}
